@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,500&family=Source+Sans+3&family=Space+Mono:ital,wght@0,700;1,700&display=swap");
* {
     font-family: "Poppins", sans-serif;
     font-family: "Source Sans 3", sans-serif;
     font-family: "Space Mono", monospace;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
:root {
     --bg-color: #2b2b2b;
     --bg-button: #a259ff;
     --bg-color-second: #3b3b3b;
}
body {
     display: flex;
     max-width: 1280px;
     flex-direction: column;
     align-items: center;
     margin: 0 auto;
}
.header {
     width: 100%;
     background-color: var(--bg-color);
}
.header-content {
     display: flex;
     padding: 20px 50px;
     justify-content: space-between;
     align-items: center;
     align-self: stretch;
}
.image-header {
     width: 243.414px;
     height: 32px;
     display: flex;
     align-items: center;
     gap: 10px;
     cursor: pointer;
}
.div-button-header {
     width: 607px;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 10px;
}

.responsive-button-header {
     color: aliceblue;
     font-size: 25px;
     display: flex;
     justify-content: flex-end;
     margin-right: 0;
     display: none;
     cursor: pointer;
}
.button-header {
     color: aliceblue;
     display: flex;
     height: 46px;
     padding: 0px 20px;
     justify-content: center;
     align-items: center;
     gap: 12px;
     border: 0;
     border-radius: 20px;
     background-color: var(--bg-color);
     cursor: pointer;
     transition: 0.3s;
}

.button-header:hover {
     border-radius: 20px;
     background-color: var(--bg-button);
}
/* mobile nav */
.responsive-navigate {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     display: none;
     animation: fakeNav linear 0.2s;
}
.responsive-navigate-nth {
     width: 400px;
     max-width: 100%;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     background-color: var(--bg-color-second);
     transform: translateX(100%);
     opacity: 0;
     transition: all linear 0.5s;
}
.responsive-navigate-nth-list {
     /* margin-top: 30px; */
     list-style: none;
     padding: 20px;
}
.responsive-navigate-nth-list-link {
     text-align: center;
     text-decoration: none;
     color: aliceblue;
     display: block;
     padding: 8px 0;
     font-size: 22px;
     line-height: 180%;
}
.responsive-navigate-nth-list-link:hover {
     border-radius: 20px;
     background-color: var(--bg-button);
}
.nav-close {
     font-size: 30px;
     color: aliceblue;
     position: absolute;
     top: 1px;
     right: 40px;
}
.nav-input:checked ~ .responsive-navigate {
     display: block;
}
.nav-input:checked ~ .responsive-navigate-nth {
     transform: translateX(0);
     opacity: 1;
}
/* ================== */
.panner {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-height: 370px;
     background-color: var(--bg-color);
     align-self: stretch;
}
.img-panner-first {
     width: 100%;
     min-height: 320px;
}
.panner-seconds {
     display: flex;
     width: 1050px;
     align-items: flex-start;
     margin-top: -75px;
}
.img-panner-seconds {
     width: 120px;
     height: 120px;
     border-radius: 20%;
     border: 2px solid var(--Background, #2b2b2b);
}
/* ===================== */
.artist-info {
     width: 100%;
     height: 457px;
     background-color: var(--bg-color);
     display: flex;
     justify-content: center;
}
.artist-info-content {
     width: 1075px;
     padding: 40px 0;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     gap: 100px;
}
.artist-info-title {
     display: flex;
     width: 599px;
     flex-direction: column;
     align-items: flex-start;
     gap: 30px;
}
.artist-info-button {
     width: 351px;
     display: flex;
     justify-content: flex-end;
     align-items: flex-start;
     gap: 20px;
}
.artist-info-title-text {
     color: var(--White, #fff);
     font-size: 51px;
     font-style: normal;
     font-weight: 600;
     line-height: 110%; /* 56.1px */
     text-transform: capitalize;
}
.artist-info-stats {
     color: var(--White, #fff);
     display: flex;
     width: 510px;
     align-items: flex-start;
     gap: 20px;
}
.artist-info-stats-first {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex: 1 0 0;
}
.numbers {
     font-size: 28px;
     font-style: normal;
     font-weight: 700;
     line-height: 140%; /* 39.2px */
     text-transform: capitalize;
}
.text {
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: 160%; /* 35.2px */
     text-transform: capitalize;
}
.artist-info-bio {
     color: var(--White, #fff);
     display: flex;
     flex-direction: column;
     width: 599px;
     align-items: flex-start;
     gap: 10px;
}
.text-bio {
     color: #858584;
     font-size: 22px;
     font-style: normal;
     font-weight: 700;
     line-height: 160%; /* 35.2px */
     text-transform: capitalize;
}
.artist-info-weblink span i {
     font-size: 28px;
     cursor: pointer;
}
.artist-info-stats-seconds {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex: 1 0 0;
}
.artist-info-stats-thirst {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex: 1 0 0;
}
.btn-first {
     display: none;
     padding: 0 30px;
     display: flex;
     width: auto;
     height: 60px;
     justify-content: center;
     align-items: center;
     gap: 12px;
     border-radius: 20px;
     border-color: var(--bg-button);
     background-color: var(--bg-color);
}
.btn-first {
     color: #fff;
     text-align: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%; /* 22.4px */
     transition: 0.3s;
     border: 2px solid #a259ff;
     cursor: pointer;
}
.btn-first:hover {
     border-radius: 20px;
     background: var(--Call-to-Action, #a259ff);
}
.artist-info-button-seconds {
     height: 60px;
     display: flex;
     align-items: flex-start;
     gap: 20px;
}
.btn-seconds {
     cursor: pointer;
     display: none;
     padding: 0 30px;
     display: flex;
     height: 60px;
     justify-content: center;
     align-items: center;
     gap: 12px;
     border-radius: 20px;
     border-color: var(--bg-button);
     background-color: var(--bg-color);
     border: 2px solid #a259ff;
}
.btn-seconds {
     color: #fff;
     text-align: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%; /* 22.4px */
     transition: 0.3s;
}
.btn-seconds:hover {
     border-radius: 20px;
     background: var(--Call-to-Action, #a259ff);
}
/* ======================= */
.frame {
     border-top: 1px solid var(--bg-color-second);
     background-color: var(--bg-color);
     max-width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     align-self: stretch;
}
.frame-content {
     display: flex;
     width: 1050px;
     align-items: flex-start;
}
.tab {
     display: flex;
     align-items: flex-start;
     flex: 1 0 0;
}
.btn-frame {
     width: 290px;
     display: flex;
     height: 60px;
     padding: 0px 30px;
     justify-content: center;
     align-items: center;
     gap: 16px;
     flex: 1 0 0;
     cursor: pointer;
}
.text-frame {
     color: var(--caption-label-text, #858584);
     text-align: center;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%; /* 30.8px */
     text-transform: capitalize;
}
.number-frame {
     display: flex;
     padding: 5px 10px;
     align-items: center;
     gap: 10px;
     border-radius: 20px;
     background: var(--Background---Secondary, #3b3b3b);
     color: #fff;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%; /* 22.4px */
}
.btn-frame:hover {
     border-bottom: 2px solid var(--caption-label-text, #858584);
}
.btn-frame:hover .text-frame {
     color: var(--White, #fff);
}
.btn-frame:hover .number-frame {
     border-radius: 20px;
     background-color: #858584;
}
/* ===================== */
.card {
     width: 100%;
     height: 1467px;
     background-color: var(--bg-color-second);
}
/* ===================== */
.footer {
     max-width: 100%;
     display: flex;
     padding: 40px 195px;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     align-self: stretch;
     border-top: 2px solid var(--Background, #2b2b2b);
     background: var(--Background---Secondary, #3b3b3b);
}
.footer-info {
     width: 987px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
}
.footer-info-marketplate {
     display: flex;
     width: 327.414px;
     padding-right: 0px;
     flex-direction: column;
     align-items: flex-start;
     gap: 30px;
}
.footer-info-explore {
     display: flex;
     width: 240px;
     flex-direction: column;
     align-items: flex-start;
     gap: 25px;
}
.footer-explore-pages {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 20px;
     cursor: pointer;
}
.footer-explore-pages:hover {
     color: var(--bg-button);
}
.footer-explore-pages p {
     color: #ccc;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%; /* 22.4px */
}
.footer-info-subscribe {
     width: 420px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 25px;
}
.footer-title-logo {
     color: #fff;
     font-size: 22px;
     font-style: normal;
     font-weight: 700;
     line-height: 160%; /* 35.2px */
     text-transform: capitalize;
}
.footer-info-marketplate-logo {
     /* width: 243.414px; */
     gap: 10px;
     height: 32px;
     display: flex;
     justify-content: space-around;
}
.footer-additional-info {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 20px;
}
.footer-additional-info-first {
     width: 238px;
     color: #ccc;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%; /* 22.4px */
}
.footer-additional-info-seconds {
     color: #ccc;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 15px;
}
.footer-subscribe-form-text {
     max-width: 100%;
     color: #ccc;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%; /* 22.4px */
}
.footer-subscribe-form-input {
     margin-top: 20px;
     display: flex;
     width: 420px;
     height: 60px;
     padding: 16px 0px 16px 20px;
     align-items: center;
     gap: 20px;
}
.footer-subscribe-form-input input {
     color: var(--Background, #2b2b2b);
     height: 60px;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%; /* 22.4px */
     border-radius: 20px;
     padding-left: 10px;
     width: 420px;
     margin-left: -20px;
     border: none;
}
.footer-subscribe-form-input input:focus {
     outline: none;
}
.footer-subscribe-form-input button {
     cursor: pointer;
     display: flex;
     height: 60px;
     padding: 0px 50px;
     justify-content: flex-end;
     align-items: center;
     gap: 12px;
     border-radius: 20px;
     border: 0;
     background: var(--Call-to-Action, #a259ff);
     margin-left: -190px;
     color: #fff;
     text-align: center;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: 140%; /* 22.4px */
}
.footer-frame {
     display: flex;
     width: 1049.414px;
     flex-direction: column;
     align-items: flex-start;
     gap: 20px;
}
.border-footer {
     width: 1049.414px;
     height: 1px;
     background: #858584;
}
.footer-frame-text {
     color: #ccc;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: 110%; /* 13.2px */
}
/* ===================== */
@keyframes fakeNav {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}
/* desktop */
@media (min-width: 1280px) {
     .responsive-button-header {
          display: none;
     }
     .artist-info-button-seconds {
          display: none;
     }
}
/* tablet && mobile */
@media (min-width: 835px) and (max-width: 1279px) {
     body {
          min-width: 834px;
     }
     .header-content {
          padding: 15px 50px;
     }
     .div-button-header {
          display: none;
     }
     .responsive-button-header {
          display: block;
     }
     .panner {
          min-width: 330px;
     }
     .img-panner-first {
          object-fit: cover;
          min-height: 280px;
     }
     .panner-seconds {
          display: flex;
          width: 690px;
          align-items: flex-start;
     }
     .btn-first {
          display: none;
     }
     .artist-info {
          min-width: 834px;
          padding: 30px 0px;
          height: auto;
     }
     .artist-info-content {
          height: 493px;
          padding: 30px 0px;
          flex-direction: column;
          align-items: center;
     }
     .artist-info-title {
          min-width: 690px;
     }
     .frame {
          min-width: 834px;
     }
     .frame-content {
          display: flex;
          width: 680px;
          align-items: flex-start;
     }
     .btn-frame {
          width: 167px;
     }
     .text-frame {
          color: var(--White, #fff);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
          text-transform: capitalize;
     }
     .number-frame {
          color: #fff;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%; /* 13.2px */
     }
     .footer {
          display: flex;
          padding: 40px 195px;
          flex-direction: column;
          align-items: center;
          gap: 49px;
     }
     .footer-info {
          display: flex;
          width: 690px;
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
     }
     .footer-frame {
          width: 690px;
     }
     .border-footer {
          width: 690px;
     }
}
/* tablet */
@media (min-width: 376px) and (max-width: 834px) {
     body {
          min-width: 834px;
     }
     .header-content {
          padding: 15px 50px;
     }
     .div-button-header {
          display: none;
     }
     .responsive-button-header {
          display: block;
     }
     .panner {
          min-width: 330px;
     }
     .img-panner-first {
          object-fit: cover;
          min-height: 280px;
     }
     .panner-seconds {
          display: flex;
          width: 690px;
          align-items: flex-start;
     }
     .btn-first {
          display: none;
     }
     .artist-info {
          padding: 30px 0px;
          height: auto;
     }
     .artist-info-content {
          min-width: 100%;
          height: 493px;
          padding: 30px 0px;
          flex-direction: column;
          align-items: center;
     }
     .artist-info-title {
          min-width: 690px;
     }
     .frame {
          min-width: 834px;
     }
     .frame-content {
          display: flex;
          width: 680px;
          align-items: flex-start;
     }
     .btn-frame {
          width: 167px;
     }
     .text-frame {
          color: var(--White, #fff);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
          text-transform: capitalize;
     }
     .number-frame {
          color: #fff;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 110%; /* 13.2px */
     }
     .footer {
          display: flex;
          padding: 40px 195px;
          flex-direction: column;
          align-items: center;
          gap: 49px;
     }
     .footer-info {
          display: flex;
          width: 690px;
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
     }
     .footer-frame {
          width: 690px;
     }
     .border-footer {
          width: 690px;
     }
}
/* mobile */
@media (max-width: 375px) {
     .header-content {
          padding: 15px 30px;
     }
     .div-button-header {
          display: none;
     }
     .responsive-button-header {
          display: block;
     }
     .img-panner-first {
          min-height: 250px;
          object-fit: cover;
     }
     .panner-seconds {
          width: 100%;
          justify-content: center;
          align-items: center;
     }
     .btn-first {
          display: none;
     }
     .artist-info {
          height: auto;
          display: flex;
          padding: 30px 0px;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          align-self: stretch;
     }
     .artist-info-content {
          width: 315px;
          height: 526px;
          padding: 30px 0px;
          flex-direction: column;
          align-items: center;
     }
     .artist-info-title {
          width: 100%;
          /* max-width: 375px; */
     }
     .artist-info-title-text {
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 39.2px */
          text-transform: capitalize;
     }
     .artist-info-button-seconds {
          width: 315px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;
     }
     .btn-seconds {
          display: flex;
          min-width: 215px;
          height: 60px;
          padding: 0px 50px;
          justify-content: center;
          align-items: center;
          gap: 12px;
          align-self: stretch;
     }
     .btn-seconds span {
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
     }
     .artist-info-stats {
          width: 100%;
          display: flex;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;
     }
     .artist-info-stats-first {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;
     }
     .numbers {
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 160%; /* 35.2px */
          text-transform: capitalize;
     }
     .text {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
     }
     .artist-info-bio {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
     }
     .text-bio {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
     }
     .artist-info-weblink {
          display: flex;
          align-items: flex-start;
          gap: 10px;
     }
     .frame {
          max-width: 375px;
     }
     .frame-content {
          display: flex;
          width: 315px;
          align-items: flex-start;
     }
     .tab {
          width: 100%;
     }
     .btn-frame {
          width: 85px;
     }
     .text-frame {
          color: var(--White, #fff);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 22.4px */
          text-transform: capitalize;
     }
     .number-frame {
          display: none;
     }
     .card {
          height: 1426px;
     }
     .footer {
          display: flex;
          padding: 30px 180px;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          align-self: stretch;
     }
     .footer-info {
          display: flex;
          width: 315px;
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
     }
     .footer-frame {
          width: 315px;
     }
     .border-footer {
          width: 315px;
     }
     .footer-info-subscribe {
          width: 315px;
     }
     .footer-subscribe-form-input {
          width: 315px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;
     }
     .footer-subscribe-form {
          width: 315px;
     }
     .footer-subscribe-form-input {
          height: 150px;
     }
     .footer-subscribe-form-input input {
          display: flex;
          width: 315px;
          height: 46px;
          padding: 16px 20px;
          align-items: center;
          gap: 12px;
          border-radius: 20px;
          border: 1px solid var(--caption-label-text, #858584);
          background: var(--Text, #fff);
     }
     .footer-subscribe-form-input button {
          display: flex;
          justify-content: center;
          width: 315px;
          margin-left: -20px;
          padding-right: 20px;
     }
}

/* ================= */
